.homePageWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      /* transform: translate(-50%, -50%); */
      left: 35%;
      top: -5%;
      position: absolute;
      height: 100vh;
}

.formWrapper {
  background: #24574d;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #c4dcfa;
  color: rgb(0, 4, 43);
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
  background: #5a4aed;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
  background: #1f287b;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #6bb6ec;
  text-decoration: none;
  border-bottom: 1px solid #4aa4ed;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #259abe;
  border-color: #3564a7;
}

.mainWrap {
  top: 0;
  left: 0;
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 230px 1fr;
}

.aside {
  background: #2d1a5f;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.userName {
  margin-top: 10px;
  font-size:small;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtn {
  width: 100%;
  margin-top: 20px;
}
.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}

.editorWrap{
  width: 170vh !important;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  width: 100% !important;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}